.center-group {
  width: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calling-tab {
  display: block;
  height: 600px;
  width: 350px;
  border-radius: 16px;
  box-shadow: 0 0 1px 2px #EB9532;
  background: url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIUlEQVQYV2OUlBD7z4AGGEGCz1+8YpCUEGOA0WBB8lUCAPPgEmTu99S8AAAAAElFTkSuQmCC
  ) repeat;
}
