.calling-tab {
  display: flex;
  width: 450px;
  min-height: 600px;
  height: auto;
}

.slide-in {
  animation-name: slideInAnimation;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideInAnimation {
  0% {
    transform: translateX(2000px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-out {
  animation-name: slideOutAnimation;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideOutAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2000px);
  }
}

.form-group {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  margin: 50px;
}

.form-control {
  width: 100%;
  border: none;
  border-bottom: 2px solid #EB9532;
  border-radius: 4px 4px 0 0;
  color: white;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control:hover {
  background-color: rgb(99, 69, 49);
}

.form-control-after {
  background-color: transparent;
  border-bottom: 2px solid #30bf25;
}

.control-alert {
  color: #f14a1a;
  margin-top: -5px;
  padding-left: 10px;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.orange-empty-button {
  margin-top: 40px;
  font-size: 20px;
  padding: 16px 24px;
}

.dummy-button {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #048804;
}

.dummy-button:hover {
  cursor: pointer;
  color: white;
  background-color: transparent;
}
