<div class="center-group">
  <div id="address-tab" class="calling-tab" [ngClass]="{'slide-in':!validAddress ,'slide-out': validAddress}">
    <form #addressForm="ngForm" class="form-group">
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="address.name" name="name"
               #name="ngModel" placeholder="Name"
                [ngClass]="{'form-control-after' : name.valid && name.touched}">
        <div [hidden]="name.valid || !name.touched"
             class="control-alert">
          Name is required
        </div>

        <input type="text" class="form-control" id="phone" pattern="^[1-9]\d{2}-\d{3}-\d{3}$"
               required [textMask]="getMask(inputMaskEnum.PHONE)"
               [(ngModel)]="address.phone" name="phone"
               #phone="ngModel" placeholder="Phone"
               [ngClass]="{'form-control-after' : phone.valid && phone.touched}">
        <div [hidden]="phone.valid || !phone.touched"
             class="control-alert">
          Phone is required
        </div>

        <input type="text" class="form-control" id="street"
               required
               [(ngModel)]="address.street" name="street"
               #street="ngModel" placeholder="Street"
               [ngClass]="{'form-control-after' : street.valid && street.touched}">
        <div [hidden]="street.valid || !street.touched"
             class="control-alert">
          Street is required
        </div>

        <input type="text" class="form-control" id="building"
               required
               [(ngModel)]="address.building" name="building"
               #building="ngModel" placeholder="Building"
               [ngClass]="{'form-control-after' : building.valid && building.touched}">
        <div [hidden]="building.valid || !building.touched"
             class="control-alert">
          Building is required
        </div>

        <input type="text" class="form-control" id="suite"
               [(ngModel)]="address.suite" name="suite"
               #suite="ngModel" placeholder="Suite"
               [ngClass]="{'form-control-after' : suite.valid && suite.touched}">

        <input type="text" class="form-control" id="city"
               required
               [(ngModel)]="address.city" name="city"
               #city="ngModel" placeholder="City"
               [ngClass]="{'form-control-after' : city.valid && city.touched}">
        <div [hidden]="city.valid || !city.touched"
             class="control-alert">
          City is required
        </div>

        <input type="text" class="form-control" id="zipCode" pattern="^\d{2}-\d{3}$"
               required [textMask]="getMask(inputMaskEnum.ZIPCODE)"
               [(ngModel)]="address.zipCode" name="zipCode"
               #zipCode="ngModel" placeholder="Zip Code"
               [ngClass]="{'form-control-after' : zipCode.valid && zipCode.touched}">
        <div [hidden]="zipCode.valid || !zipCode.touched"
             class="control-alert">
          Zip code is required
        </div>

        <button class="orange-empty-button" (click)="addAddress()" [disabled]="!addressForm.form.valid">Save</button>

        <button class="orange-empty-button dummy-button" (click)="mockAddress(addressForm)">Fill it with dummy address</button>
    </form>
  </div>
</div>
