.opacity-zero {
  opacity: 0;
}

.calling-tab-start-animation {
  animation-name: callingTabStartAnimation;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes callingTabStartAnimation {
  from {
    width: 0;
  }
  to {
    width: 350px;
  }
}

.calling-tab-end-animation {
  animation-name: callingTabEndAnimation;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 4500ms;
}

@keyframes callingTabEndAnimation {
  from {
    width: 350px;
    height: 600px;
  }
  to {
    width: 450px;
    height: 850px;
  }
}

.calling-animation {
  width: 100%;
  position: relative;
}

.callingCircleAfterClick {
  animation-name: callingCircleAnimation;
  animation-duration: 4500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes callingCircleAnimation {
  0% {
    left: 60px;
    background: #cccccc;
  }
  25% {
    left: 210px;
    background: #048804;
  }
  75% {
    left: 210px;
    background: #048804;
    opacity: 1;
  }
  100% {
    left: 210px;
    background: #048804;
    opacity: 0;
  }
}

.callingImageAfterClick {
  animation-name: callingImageAnimation;
  animation-duration: 4500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes callingImageAnimation {
  0% {
    left: 80px;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(90deg) brightness(104%) contrast(97%);
  }
  25% {
    left: 230px;
    filter: invert(1) brightness(1);
  }
  75% {
    left: 230px;
    filter: invert(1) brightness(1);
    opacity: 1;
  }
  100% {
    left: 230px;
    filter: invert(1) brightness(1);
    opacity: 0;
  }
}

.callingTextAfterClick {
  animation-name: callingTextAnimation;
  animation-duration: 4500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes callingTextAnimation {
  0%   { opacity:0; }
  12.5%   { opacity:1; }
  25%   { opacity:0; }
  37.5%  { opacity:1; }
  50%  { opacity:0; }
  62.5%  { opacity:1; }
  75%  { opacity:0; }
  87.5%  { opacity:1; }
  100% { opacity:0; }
}

.calling-text {
  top: 280px;
  left: 90px;
  position: absolute;
  font-family: pan-pizza;
  font-size: 48px;
  color: white;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.calling-circle {
  position: absolute;
  display: block;
  background: #ccc;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  left: 60px;
  top: 400px;
  transition: all 500ms ease-in-out;
  z-index: 1;
}

.calling-image {
  position: absolute;
  z-index: 2;
  top: 420px;
  left: 80px;
  width: 40px;
  height: auto;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(90deg) brightness(104%) contrast(97%);
  transition: all 500ms ease-in-out;
}

.calling-line {
  position: absolute;
  width: 175px;
  display: block;
  top: 432px;
  left: 92px;
  height: 1px;
  border: 0;
  border-top: 1px dashed #ccc;
  z-index: 0;
}

.calling-start-delayed-animation {
  animation-name: fadeInAnimation;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.calling-end-delayed-animation {
  animation-name: fadeOutAnimation;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3000ms;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
