@font-face {
  font-family: 'pan-pizza';
  src: url('/assets/fonts/panpizza.ttf') format('truetype');
}

.main {
  height: 100%;
  display: inline-flex;
  flex-direction: row;
}

.main-left-column {
  display: inline-flex;
  flex-direction: column;
  width: 640px;
}

.main-title {
  width: 100%;
}

.title-text {
  color: #ffffff;
  text-align: center;
  font-family: pan-pizza;
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 80px;
}

.text-orange {
  color: #f17012;
}

.main-image {
  position: fixed;
  bottom: -10px;
}

.pizza-image {
  width: 80%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}
