.main {
  height: 100%;
  display: inline-flex;
  flex-direction: row;
}

.grey-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: 10;
}

.main-left-column {
  display: inline-flex;
  flex-direction: column;
  width: 640px;
}

.main-title {
  width: 100%;
}

.title-text {
  color: #ffffff;
  text-align: center;
  font-family: pan-pizza;
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 80px;
}

.text-orange {
  color: #f17012;
}

.main-image {
  position: fixed;
  bottom: -10px;
  z-index: -1;
}

.pizza-image {
  width: 80%;
  height: auto;
}

.main-content {
  flex-grow: 1;
  height: 100vh;
}
