.orange-button {
  display: block;
  font-size: 24px;
  padding: 12px 24px;
  background-color: #f17012;
  color: #191816;
  border: none;
  border-radius: 8px;
}

.orange-button:hover {
  background-color: #f14a1a;
}

.orange-button-animation {
  content: none;
  animation-name: buttonClickAnimation;
  animation-duration: 1250ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


@keyframes buttonClickAnimation {
  0%   { margin-bottom: 0; }
  100% { margin-bottom: 1500px; }
}
