.orange-button-animation {
  content: none;
  animation-name: buttonClickAnimation;
  animation-duration: 1250ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


@keyframes buttonClickAnimation {
  0%   { margin-bottom: 0; }
  100% { margin-bottom: 1500px; }
}
