.calling-tab {
  width: 450px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conversation-group {
  width: 85%;
  height: 90%;
  display: inline-flex;
  flex-direction: column;
}

.conversation-tile {
  cursor: default;
  width: 100%;
  margin-bottom: 12px;
  display: inline-flex;
  flex-direction: row;
}

.conversation-tile > img {
  width: 75px;
  height: 75px;
  filter: drop-shadow(1px 1px 0 #ff8814)
  drop-shadow(-1px -1px 0 #ff8814);
}

.tile-hidden {
  opacity: 0;
  width: 0;
  height: 0;
}

.tile-img-start-animation {
  animation-name: imgStartTileAnimation;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

@keyframes imgStartTileAnimation {
  0% {
    opacity: 1;
    width: 0;
    height: 0;
  }
  90% {
    opacity: 1;
    width: 80px;
    height: 80px;
    padding-bottom: 10px;
  }
  100% {
    opacity: 1;
    width: 75px;
    height: 75px;
    padding-bottom: 0;
  }
}

.conversation-tile > p {
  overflow: hidden;
  margin: 10px;
  font-family: "Roboto Light";
  font-size: 16px;
  letter-spacing: 1px;
  padding: 16px;
  display: block;
  border: 1px solid #ff8814;
  background-color: transparent;
  color: white;
  border-radius: 8px;
}

.tile-text-start-animation {
  animation-name: textStartTileAnimation;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 700ms;
}

.tile-answer-start-animation {
  animation-name: textStartTileAnimation;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1500ms;
}

@keyframes textStartTileAnimation {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: auto;
  }
}

.your-answer-option {
  cursor: pointer;
  margin-left: 15% !important;
  width: 60%;
  background: linear-gradient(to bottom, #f17012 5%, #dc8012 100%);
}

.your-answer-option:hover {
  background: #f17012 !important;
}

.display-none {
  display: none;
}

.your-answer {
  background: #f17012 !important;
  width: 60%;
  animation-name: answeredAnimation;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes answeredAnimation {
  0% {
    margin-left: 15%;
  }
  100% {
    margin-left: 40%;
  }
}

.bottom-zero {
  margin-bottom: 0 !important;
}
