<div class="center-group">
  <div id="calling-tab" class="calling-tab">
    <div class="conversation-group">
      <div class="conversation-tile">
        <img class="tile-hidden tile-img-start-animation" src="assets/images/waitress.png" alt="waitress">
        <p class="tile-hidden tile-text-start-animation">Welcome to our pizzeria! This is Joanna, how can I help you today?</p>
      </div>
      <div *ngFor="let answer of conversationMap | keyvalue">
        <div id="{{answer.key}}-answer" class="conversation-tile tile-hidden bottom-zero tile-answer-start-animation">
          <p id="{{answer.key}}-answer-paragraph" class="your-answer-option" (click)="chooseAction(answer.key)">{{answer.value.choice}}</p>
        </div>
      </div>
      <div class="conversation-tile">
        <img id="reaction-img" class="tile-hidden" src="assets/images/waitress.png" alt="waitress">
        <p id="reaction-text" class="tile-hidden"></p>
      </div>
      <div class="conversation-tile tile-hidden tile-answer-start-animation">
        <p id="your-pick" class="tile-hidden">{{data.variables.pizza?.name}} looks nice.</p>
      </div>
      <div class="conversation-tile">
        <img id="picked-img" class="tile-hidden" src="assets/images/waitress.png" alt="waitress">
        <p id="picked-text" class="tile-hidden">Great! Do you want to pick some extras to your pizza?</p>
      </div>
      <div *ngIf="pickAdditions">
        <div *ngFor="let addition of additions">
          <div id="{{addition.id}}-addition" class="conversation-tile tile-hidden bottom-zero tile-answer-start-animation">
            <p id="{{addition.id}}-addition-paragraph" class="your-answer-option" (click)="chooseAddition(addition)">{{addition.addition}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="additionsPicked" class="conversation-tile">
        <img class="tile-hidden tile-img-start-animation" src="assets/images/waitress.png" alt="waitress">
        <p class="tile-hidden tile-text-start-animation">I would choose {{data.variables.additions?.addition.toLowerCase()}} too!</p>
      </div>
      <div *ngIf="delivery" class="conversation-tile">
        <img class="tile-hidden tile-img-start-animation" src="assets/images/waitress.png" alt="waitress">
        <p class="tile-hidden tile-text-start-animation">What address should we deliver to?</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showPizzaDialog">
  <div id="greyScreen" class="grey-screen"></div>
  <app-choose-pizza class="display-dialog"></app-choose-pizza>
</div>
