<div class="center-group">
  <div class="calling-tab">
    <div class="conversation-group">
      <div class="conversation-tile">
        <img class="tile-hidden tile-img-start-animation" src="assets/images/waitress.png" alt="waitress">
        <p class="tile-hidden tile-text-start-animation">Welcome to our pizzeria! This is Joanna, how can I help you today?</p>
      </div>
      <div *ngFor="let answer of answersMap | keyvalue">
        <div id="{{answer.key}}" class="conversation-tile tile-hidden bottom-zero tile-answer-start-animation">
          <p id="{{answer.key}}-paragraph" class="your-answer-option" (click)="chooseAction(answer.key)">{{answer.value}}</p>
        </div>
      </div>
      <div class="conversation-tile">
        <img id="reaction-img" class="tile-hidden" src="assets/images/waitress.png" alt="waitress">
        <p id="reaction-text" class="tile-hidden"></p>
      </div>
      <div class="conversation-tile tile-hidden tile-answer-start-animation">
        <p id="your-pick" class="tile-hidden">{{data.pizzaPicked?.name}} looks nice.</p>
      </div>
      <div class="conversation-tile">
        <img id="picked-img" class="tile-hidden" src="assets/images/waitress.png" alt="waitress">
        <p id="picked-text" class="tile-hidden">Great! Do you want to pick some extras to your pizza?</p>
      </div>
    </div>
  </div>
</div>
