<div class="center-order">
  <div class="order-tab order-start-animation">
    <div class="order-details">
      <img class="order-ribbon" src="/assets/images/order-ribbon.png" alt="order-ribbon"/>
      <span class="order-title">{{literals.confirmOrder}}</span>
      <div class="order-data">
        <div class="data-row">
          <span class="data-text flex-grow">{{literals.itemColumn}}</span>
          <span class="data-text">{{literals.quantityColumn}}</span>
          <span class="data-text">{{literals.priceColumn}}</span>
        </div>
        <hr class="order-line"/>
        <div class="data-row">
          <span class="data-text flex-grow">{{data.variables.pizza.name}}</span>
          <span class="data-text">{{quantity}}</span>
          <span class="data-text">{{data.variables.pizza.price}} EUR</span>
        </div>
        <div *ngIf="data.variables.additions.id != 0" class="data-row">
          <span class="data-text flex-grow">{{data.variables.additions.addition}}</span>
          <span class="data-text">{{quantity}}</span>
          <span class="data-text">{{data.variables.additions.price}} EUR</span>
        </div>
        <hr class="order-line"/>
        <div class="data-row">
          <span class="data-text flex-grow"></span>
          <span class="data-text">{{literals.totalMessage}}</span>
          <span class="data-text">{{totalPrice}} EUR</span>
        </div>
      </div>
      <button class="orange-button" (click)="orderApproved()">{{literals.orderButton}}</button>
      <button class="orange-empty-button" (click)="orderDeclined()">{{literals.cancelButton}}</button>
    </div>
  </div>
</div>
