.center-group {
  width: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calling-tab {
  display: block;
  width: 350px;
  height: 600px;
  /*background-color: #222222;*/
  border-radius: 16px;
  /*box-shadow: 0 0 1px 2px #f17012, 0 0 250px 15px #444444 inset;*/
  box-shadow: 0 0 1px 2px #f17012;
  background: url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIUlEQVQYV2OUlBD7z4AGGEGCz1+8YpCUEGOA0WBB8lUCAPPgEmTu99S8AAAAAElFTkSuQmCC
  ) repeat;
}

.calling-animation {
  width: 100%;
  position: relative;
}

.callingCircleAfterClick {
  animation-name: callingCircleAnimation;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes callingCircleAnimation {
  from {
    left: 60px;
    background: #cccccc;
  }
  to {
    left: 210px;
    background: #048804;
  }
}

.callingImageAfterClick {
  animation-name: callingImageAnimation;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes callingImageAnimation {
  from {
    left: 80px;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(90deg) brightness(104%) contrast(97%);
  }
  to {
    left: 230px;
    filter: invert(1) brightness(1);
  }
}

.callingTextAfterClick {
  animation-name: callingTextAnimation;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes callingTextAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}

.calling-text {
  top: 280px;
  left: 90px;
  position: absolute;
  font-family: pan-pizza;
  font-size: 48px;
  color: white;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.calling-circle {
  position: absolute;
  display: block;
  background: #ccc;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  left: 60px;
  top: 400px;
  transition: all 500ms ease-in-out;
  z-index: 1;
}

.calling-image {
  position: absolute;
  z-index: 2;
  top: 420px;
  left: 80px;
  width: 40px;
  height: auto;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(90deg) brightness(104%) contrast(97%);
  transition: all 500ms ease-in-out;
}

.calling-line {
  position: absolute;
  width: 175px;
  display: block;
  top: 432px;
  left: 92px;
  height: 1px;
  border: 0;
  border-top: 1px dashed #ccc;
  z-index: 0;
}
