@import "assets/styles/main-content.css";
@import "assets/styles/buttons.css";
@import "assets/styles/popup.css";

@font-face {
  font-family: 'pan-pizza';
  src: url('/assets/fonts/panpizza.ttf') format('truetype');
}

@font-face {
  font-family: 'federick-the-great';
  src: url("/assets/fonts/FrederickatheGreat-Regular.ttf") format('truetype');
}

body {
  background: #191816;
  overflow-x: hidden;
}

.title-text {
  color: #ffffff;
  text-align: center;
  font-family: pan-pizza;
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 80px;
}

.text-orange {
  color: #EB9532;
}

.display-none {
  display: none;
}
