@import "assets/styles/main-content.css";

@font-face {
  font-family: 'pan-pizza';
  src: url('/assets/fonts/panpizza.ttf') format('truetype');
}

body {
  background: #191816;
  overflow-x: hidden;
}
